h4 {
    margin: 0;
}
a {
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.container {
    display: inline-block;
    background-color: rgba(116, 201, 201, 0.36);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: 20px 20px;
    position: relative;
}
.container:after {
    content: "";
    display: block;
    clear: both;
  }
img { 
    float: left;
    margin: 7px 7px 7px 0;
}
section {
    text-align: center;
}

li {
    text-decoration : none;
    display: inline-block;
    padding: 10px;
}

.rating{
    background: url('../assets/imgs/Gold_star.png') 362px 0px no-repeat;
    background-size: contain;
    height: 15px;
}

.favourite { 
    background: url('../assets/imgs/like.png') 0 0 no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 590px;
}

.trailer {
    position: fixed;
    z-index: 100;
    left: 20%;
    top: 20%;
    height: 50%;
    width: 50%;
}

