<p>Comments on <b>{{post.title}}</b> </p>

<div class="container" ng-repeat="comment in comments">
    <!-- <h4>{{comment.name}}</h4>
    <p>{{comment.body}}</p>
    <a ng-href="{{comment.email}}">{{comment.email}}</a> -->
</div>