<section>
    <h2>Top 20 Film</h2>

    <div class="container" ng-repeat="film in films" ng-click="goToPost(user)">
        <img ng-src="{{film.urlPoster}}" alt="">
        <div>
            <h4>{{film.title}} {{film.year}} y.</h4>
            <div class="favourite" ng-show='film.favourite'></div>
            <h4 class="rating">{{film.rating}} </h4>
            <p>
                Country:
                <h4 ng-repeat="country in film.countries">{{country}}</h4>
            </p>
            <p>
                Genres:
                <h4 ng-repeat="genre in film.genres">{{genre}}</h4>
            </p>
            <p>
                Writers:
                <h4 ng-repeat="writer in film.writers">
                    <a target="_blank" href="http://www.imdb.com/name/{{writer.id}}" ng-bind="writer.name"></a>
                </h4>
            </p>
            <button ng-show='!film.favourite' ng-click="addFavFilms(film)">Add Favourite</button>
            <button ng-show='film.favourite' ng-click="removeFavFilms(film)">Remove Favourite</button>
            <button ng-show='!film.trailers' ng-click="getTrailer(film)">Trailer</button>
            <h6 ng-show='film.trailers && !film.trailers.length'>sorry not trailer</h6>
        </div>
        <div>
            <button ng-repeat="trailer in film.trailers track by $index" ng-click='openTrailer(trailer)'>{{$index+1}}</button>
        </div>
    </div>
    <div ng-show="showTrailer" class="trailer">
        <div ng-click="closeTrailer()">X</div>
        <trailer-dir></trailer-dir>
    </div>
</section>